<section
  class="w-full md:w-2/3 mx-auto my-16 bg-white p-8 shadow-xl rounded-2xl border border-gray-200"
>
  <h1 class="text-3xl font-semibold text-center text-gray-800 mb-6">
    Reset Password
  </h1>

  @if (steps === 1) {
  <form
    [formGroup]="sendEmailForm"
    (ngSubmit)="verifyEmailSubmit()"
    class="space-y-6"
  >
    <div>
      <label for="user_email" class="block text-sm font-medium text-gray-700"
        >Email Address</label
      >
      <input
        type="email"
        id="user_email"
        formControlName="email"
        class="w-full px-4 py-2 mt-1 border border-gray-300 rounded-lg focus:ring-green-500 focus:border-green-500 focus:outline-none"
        placeholder="Enter your email"
      />
      <p
        *ngIf="
          sendEmailForm.get('email')?.invalid &&
          sendEmailForm.get('email')?.touched
        "
        class="text-red-600 text-sm mt-1"
      >
        Valid email is required.
      </p>
    </div>

    <button
      [disabled]="sendEmailForm.invalid"
      type="submit"
      class="w-full bg-green-600 text-white py-2.5 rounded-lg font-medium hover:bg-green-700 transition disabled:bg-gray-400 disabled:cursor-not-allowed"
    >
      Send Email
    </button>
  </form>
  } @else if (steps === 2) {
  <form
    (ngSubmit)="verifyCodeSubmit()"
    class="space-y-6"
    [formGroup]="verifyCodeForm"
  >
    <div>
      <label for="resetCode" class="block text-sm font-medium text-gray-700"
        >Verification Code</label
      >
      <input
        type="text"
        id="resetCode"
        formControlName="resetCode"
        class="w-full px-4 py-2 mt-1 border border-gray-300 rounded-lg focus:ring-green-500 focus:border-green-500 focus:outline-none"
        placeholder="Enter the code"
      />
      <p
        *ngIf="
          verifyCodeForm.get('resetCode')?.invalid &&
          verifyCodeForm.get('resetCode')?.touched
        "
        class="text-red-600 text-sm mt-1"
      >
        Code must be exactly 6 characters.
      </p>
    </div>

    <button
      type="submit"
      class="w-full bg-green-600 text-white py-2.5 rounded-lg font-medium hover:bg-green-700 transition"
    >
      Verify Code
    </button>
  </form>
  } @else if (steps === 3) {
  <form
    (ngSubmit)="resetPasswordSubmit()"
    [formGroup]="resetPasswordForm"
    class="space-y-6"
  >
    <div>
      <label for="email" class="block text-sm font-medium text-gray-700"
        >Email Address</label
      >
      <input
        readonly
        type="email"
        id="email"
        formControlName="email"
        class="w-full px-4 py-2 mt-1 border border-gray-300 rounded-lg bg-gray-100 cursor-not-allowed focus:outline-none"
        placeholder="Enter your email"
      />
    </div>

    <div>
      <label for="user_pass" class="block text-sm font-medium text-gray-700"
        >New Password</label
      >
      <input
        type="password"
        id="user_pass"
        formControlName="newPassword"
        class="w-full px-4 py-2 mt-1 border border-gray-300 rounded-lg focus:ring-green-500 focus:border-green-500 focus:outline-none"
        placeholder="Enter new password"
      />
      <p
        *ngIf="
          resetPasswordForm.get('newPassword')?.invalid &&
          resetPasswordForm.get('newPassword')?.touched
        "
        class="text-red-600 text-sm mt-1"
      >
        Password is required (Min: 6 characters).
      </p>
    </div>

    <button
      [disabled]="resetPasswordForm.invalid"
      type="submit"
      class="w-full bg-green-600 text-white py-2.5 rounded-lg font-medium hover:bg-green-700 transition disabled:bg-gray-400 disabled:cursor-not-allowed"
    >
      Reset Password
    </button>
  </form>
  }
</section>
